In [8]:
import datetime 

data = datetime.timedelta(30)

data_hoje = datetime.datetime.now()

print( data_hoje - data)

2022-11-06 15:23:34.983983

In [26]:
import pandas as pd 

dados = pd.read_json('https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json')

dados['data'] = pd.to_datetime(dados['data'], format='%d/%m/%Y')

dados_retorno = dados['valor'].pct_change()

data_solicitada = datetime.datetime(2022, 8, 1)

dados['retorno'] = dados_retorno

dados = dados.loc[dados['data'] > data_solicitada]

dados

           data     valor   retorno
9064 2022-08-02  0.049037  0.000000
9065 2022-08-03  0.049037  0.000000
9066 2022-08-04  0.050788  0.035708
9067 2022-08-05  0.050788  0.000000
9068 2022-08-08  0.050788  0.000000
...         ...       ...       ...
9145 2022-11-29  0.050788  0.000000
9146 2022-11-30  0.050788  0.000000
9147 2022-12-01  0.050788  0.000000
9148 2022-12-02  0.050788  0.000000
9149 2022-12-05  0.050788  0.000000

[86 rows x 3 columns]